.card {
  display: flex;
  flex: 0 1 calc(25% - 6rem);
  justify-content: space-between;
  border: 1px solid $color-grey;
  border-radius: 6px;
  background: $color-white;
  padding: 1.6rem;
  &__title {
    color: $color-black;
    font-family: TTLakes-Medium, 'sans-serif';
    font-size: 1.6rem;
  }
  &__icon {
    display: flex;
    align-self: flex-end;
  }
  &__logo {
  }
}
