.cards {
  &__row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.6rem 3.2rem;
    @include respond(tablet-land) {
      gap: 1.6rem 2.4rem;
    }
    @include respond(tablet-port) {
      gap: 1.6rem 2.4rem;
    }
  }
  &__list--brands &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.6rem;
  }
  &__list--services &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
  }
}
