.icon {
  display: inline-block;
  background: $color-pink;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &--view--search {
    &::after {
      background: url(../img/icons/magnifier.svg) no-repeat;
      width: 1.7rem;
      height: 1.7rem;
    }
  }
  &--view--tools {
    &::after {
      background: url(../img/icons/tools.svg) no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }
  &--view--status {
    &::after {
      background: url(../img/icons/magnifier_2.svg) no-repeat;
      height: 2rem;
      width: 1.6rem;
    }
  }
  &--view--phone {
    &::after {
      background: url(../img/icons/phone.svg) no-repeat;
      width: 1.8rem;
      height: 1.9rem;
    }
  }
  &--view--message {
    &::after {
      background: url(../img/icons/message.svg) no-repeat;
      width: 2rem;
      height: 2rem;
    }
  }
  &--view--profile {
    &::after {
      background: url(../img/icons/account.svg) no-repeat;
      width: 2rem;
      height: 1.9rem;
    }
  }
  &--view--close {
    &::after {
      background: url(../img/icons/close.svg) no-repeat;
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  &--view--burger {
    &::after {
      background: url(../img/icons/burger.svg) no-repeat;
      width: 1.8rem;
      height: 1.6rem;
    }
  }
  &--view--stroke {
    background: none;
    border: 2px solid $color-pink;
    &::after {
      content: '';
      background: url(../img/icons/dropright.svg) no-repeat;
      width: .75rem;
      height: 1.2rem;
    }
  }
}

