@import "../base/mixins";

.slider {
  font-family: TTLakes-Medium, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.2px;
  color: $color-dark-grey;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  &__item {
    padding: .8rem 2rem;
    border: 2px solid $color-light-grey-2;
    &--active,
    &:hover {
      background: $color-white;
      border: 2px solid $color-aquamarine-light;
      border-radius: 6px;
    }
  }
}
