@import "../base/mixins";

.content {
  background: $color-light-grey-2;
  flex: 1;
  &__title {
    margin: 4.2rem 3.2rem 0 0;
    @include respond(tablet-land) {
      margin-top: 2.4rem;
    }
  }
  &__slider {
    margin-top: .8rem;
    padding-left: 3.2rem;
    @include respond(tablet-land) {
      margin-top: 3.2rem;
      padding-left: 2.4rem;
    }
  }
  &__post {
    @include respond(tablet-land) {
      margin-top: 3.2rem;
    }
  }
  &__brands {
    margin-top: 5rem;
    @include respond(tablet-land) {
      margin-top: 3.2rem;
    }
  }
  &__services {
    margin-top: 5rem;
    @include respond(tablet-land) {
      margin-top: 3.2rem;
    }
  }
  &__price {
    margin-top: 5rem;
    @include respond(tablet-land) {
      margin-top: 3.2rem;
    }
  }
  &__table {
    margin-top: 3rem;
    @include respond(tablet-land) {

    }
  }
  &__footer {
    margin-top: 5rem;
  }
}
