@import "../base/mixins";

.header {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
  background: $color-white;
  @include respond(tablet-land) {
    display: flex;
  }
  &__group {
    display: flex;
    align-items: center;
  }
  &__user-nav + &__actions {
    &::before {
      content: '';
      border: 1px solid $color-grey;
      border-radius: 1px;
      height: 3.2rem;
      margin-right: 2rem;
    }
  }
  &__actions {
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
  &__action + &__action {
    margin-left: 1.6rem;
  }
  &__logo {
    margin-left: 2rem;
    &::before {
      content: '';
      border: 1px solid $color-grey;
      border-radius: 1px;
      height: 3.2rem;
      margin-right: 2rem;
    }
  }
}
