.sidebar {
  flex: 0 0 21%;
  padding-left: 2.3rem;
  background: $color-white;
  font-family: TTLakes-Medium, sans-serif;
  font-size: 1.6rem;
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.9rem 3rem 0;
    align-items: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
  }
  &__logo {
    width: 9.7rem;
    height: 5.1rem;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    cursor: pointer;
    color: $color-black;
    margin-top: 2rem;
    &:first-child {
      margin-top: .2rem;
    }
    &_active,
    &:hover {
      color: $color-dark-grey;
      transform: translateX(-2.25rem);
      &::before {
        margin-right: 1.9rem;
        content: '';
        background: $color-aquamarine;
        border: .175rem solid $color-aquamarine;
        border-radius: .2rem;
      }
    }
  }
  &__link {
    color: inherit;
    padding: .35rem 0;
    display: flex;
    align-items: center;
  }
  &__footer {
    display: flex;
    flex-direction: column;
  }
  &__mail {
    font-family: TTLakes-Medium, sans-serif;
    font-size: 1.6rem;
    color: $color-black;
    margin-top: 1.6rem;
  }
  &__phone {
    font-family: TTLakes-Bold, sans-serif;
    font-size: 2.4rem;
    color: $color-black;
    margin-top: 1.6rem;
  }
  &__langs {
    margin-top: 4rem;
  }
  &__lang {
    display: inline-block;
    text-transform: uppercase;
    &_current,
    &:hover {
      color: $color-dark-grey;
    }
  }
  &__lang + &__lang {
    margin-left: .7rem;
  }
}
