@import "../base/mixins";

.sidebar {
  @include respond(tablet-land) {
    display: none;
  }
  box-sizing: border-box;
  font-family: TTLakes-Medium, sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -.2px;
  color: $color-black;
  flex: 0 0 22.22%;
  padding-left: 2.3rem;
  background: $color-white;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 2.9rem 3rem 0;
    align-items: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: flex;
    cursor: pointer;
    color: $color-black;
    margin-top: 2rem;
    &:first-child {
      margin-top: .2rem;
    }
    &--active,
    &:hover {
      color: $color-dark-grey;
      transform: translateX(-2.25rem);
      &::before {
        margin-right: 1.9rem;
        content: '';
        background: $color-aquamarine;
        border: .175rem solid $color-aquamarine;
        border-radius: .2rem;
      }
    }
  }
  &__link {
    color: inherit;
    padding: .35rem 0;
    display: flex;
    align-items: center;
  }
  &__footer {
    display: flex;
    flex-direction: column;
  }
  &__mail {
    margin-top: 1.6rem;
  }
  &__phone {
    margin-top: 1.6rem;
  }
  &__langs {
    margin-top: 4rem;
  }
  &__lang {
    display: inline-block;
    &--current,
    &:hover {
      color: $color-dark-grey;
    }
  }
  &__lang + &__lang {
    margin-left: .7rem;
  }
}
